* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  min-width: 900px;
}
.input__url {
  text-align: center;
  border: 1px solid black;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 22px;
}
.input__url img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.input__url input {
  border: none;
  outline: none;
  height: 30px;
  font-size: 16px;
  width: 600px;
  vertical-align: middle;
  margin: 0px 16px;
}
.button {
  border: 1px solid black;
  color: black;
  background: #d1d1d1;
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 6px;
  min-width: 120px;
}
.button:hover,
.button:active {
  background-color: #5e5e5e;
  color: white;
  cursor: pointer;
}
.img__edit:hover,
.img__edit:active {
  cursor: pointer;
}


.history {
  background: #f1f1f1;
  border-left: 2px solid #8d8d8d;
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  visibility: hidden;
}
.history__animation__slidein {
  visibility: visible;
  animation: slideIn 0.5s ease-in;
}
@keyframes slideIn {
  from {
    transform: translateX(320px);
  }
  to {
    transform: translateX(0);
  }
}
.history__header {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding: 5px;
}
.history__logo {
  display: inline-block;
  text-align: center;
  width: 90%;
}
.history__close__btn {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.history__close__btn:hover {
  cursor: pointer;
}
.history__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.history__item {
  text-align: left;
  border: 1px solid #8d8d8d;
  border-radius: 5px;
  margin: 6px;
  background: white;
}
.history__item a {
  text-decoration: none;
  color: black;
  padding: 5px;
  display: block;
}
.history__item a:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.history__item * {
  overflow: hidden;
}
